{% extends 'draw_something/base.html' %}

{% load static %}

{% block title %}
    <title>Password Reset Confirm</title>
{% endblock %}

{% block cssLink %}
    <link href="{% static 'draw_something/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if validlink %}
        <form class="form-signin" method="post">
            <p class="form-signin-heading">Reset password</p>
            <label for="id_new_password1" class="sr-only">New password</label>
            <input type="password" id="id_new_password1" name="new_password1" class="form-control" placeholder="New password" required autofocus>

            <label for="id_new_password2" class="sr-only">New password confirmation</label>
            <input type="password" id="id_new_password2" name="new_password2" class="form-control" placeholder="New password confirmation" required>

            {% for error in form.non_field_errors %}
            <p class="error-message">
                {{ error }}
            </p>
            {% endfor %}

            {% for field in form.visible_fields %}
                {% for error in field.errors %}
                <p class="error-message">
                    {{ error }}
                </p>
                {% endfor %}
            {% endfor %}

            <button class="btn btn-lg btn-info btn-block sign-up-btn" type="submit">Submit</button>
            {% csrf_token %}
        </form>




    {% else %}
        <p class="email-send-message">
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}