{% extends 'draw_something/base.html' %}

{% load static %}

{% block title %}
    <title>Password Reset Form</title>
{% endblock %}

{% block cssLink %}
    <link href="{% static 'draw_something/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="form-signin" method="post">
        <p class="form-signin-heading">Enter your email address</p>
        <label class="sr-only" for="id_email">Email</label>
        <input type="email" name="email" required id="id_email" class="form-control" placeholder="Email" required autofocus>

        {% for field in form.visible_fields %}
            {% for error in field.errors %}
                <p class="error-message">
                    {{ error }}
                </p>
            {% endfor %}
        {% endfor %}

        <button class="btn btn-lg btn-info btn-block sign-up-btn" type="submit">Submit</button>
        {% csrf_token %}
    </form>

{% endblock %}